log_filter = "info,common=debug,web=debug"

# Postgres Database configuration
# These settings can be overridden with environment variables using the prefix "APP__DATABASE__<VARIABLE_NAME>"
[database]
username = "postgres"
password = "postgres"
database = "postgres"
host = "127.0.0.1"
port = 5432
max_connections = 5

[eth_node]
token_address = "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
wss_url = "wss://mainnet.infura.io/ws/v3/<YOUR_API_KEY>"